<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.system.activity.mapper.ActivityEnrollMapper">
  <resultMap id="BaseResultMap" type="org.igetwell.system.activity.domain.ActivityEnroll">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="OPEN_ID" jdbcType="VARCHAR" property="openId" />
    <result column="ACTIVITY_ID" jdbcType="INTEGER" property="activityId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>