<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.system.planet.mapper.PlanetSaidMapper">
  <resultMap id="BaseResultMap" type="org.igetwell.system.planet.domain.PlanetSaid">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="OPEN_ID" jdbcType="VARCHAR" property="openId" />
    <result column="LABEL_NAME" jdbcType="VARCHAR" property="labelName" />
    <result column="AXIS" jdbcType="VARCHAR" property="axis" />
    <result column="LIKE" jdbcType="INTEGER" property="like" />
    <result column="TEXT" jdbcType="LONGVARCHAR" property="text" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="planetSql">
      U.OPEN_ID as openId,
      P.ID as said,
      U.NICK_NAME as nickName,
      U.AVATAR as avatar,
      P.ID as said,
      P.LABEL_NAME as labelName,
      P.TEXT as text,
      P.AXIS as axis,
      P.`LIKE` as likeCount,
      P.CREATE_TIME as createTime
  </sql>

  <select id="getList" resultType="org.igetwell.system.planet.dto.PlanetDTO" parameterType="org.igetwell.system.planet.retrieve.PlanetQuery">
    SELECT
        <include refid="planetSql" />
    FROM USER U, PLANET_SAID P
    WHERE U.OPEN_ID = P.OPEN_ID ORDER BY P.CREATE_TIME DESC
  </select>
</mapper>