<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.system.users.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="org.igetwell.system.users.domain.UserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="OPEN_ID" jdbcType="VARCHAR" property="openId" />
    <result column="SCHOOL" jdbcType="VARCHAR" property="school" />
    <result column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName" />
    <result column="EDUCATION" jdbcType="INTEGER" property="education" />
    <result column="HEIGHT" jdbcType="INTEGER" property="height" />
    <result column="WEIGHT" jdbcType="INTEGER" property="weight" />
    <result column="LOCATION" jdbcType="VARCHAR" property="location" />
    <result column="MARITAL_STATUS" jdbcType="INTEGER" property="maritalStatus" />
    <result column="WAGE_STATUS" jdbcType="INTEGER" property="wageStatus" />
    <result column="ID_CERT" jdbcType="INTEGER" property="idCert" />
    <result column="EDUCATION_CERT" jdbcType="INTEGER" property="educationCert" />
    <result column="CORPORATE_CERT" jdbcType="INTEGER" property="corporateCert" />
    <result column="PROPERTY_CERT" jdbcType="INTEGER" property="propertyCert" />
    <result column="VEHICLE_CERT" jdbcType="INTEGER" property="vehicleCert" />
  </resultMap>

  <sql id="baseSql">
    INFO.ID as id,
    INFO.OPEN_ID as openId,
    INFO.SCHOOL as school,
    INFO.COMPANY_NAME as companyName,
    INFO.EDUCATION as education,
    INFO.MARITAL_STATUS as maritalStatus,
    INFO.WAGE_STATUS as wageStatus,
    INFO.ID_CERT as idCert,
    INFO.EDUCATION_CERT as educationCert,
    INFO.CORPORATE_CERT as corporateCert,
    INFO.PROPERTY_CERT as propertyCert,
    INFO.VEHICLE_CERT as vehicleCert
  </sql>
  
  <sql id="getInfoSql">
    U.OPEN_ID as openId,
    U.NICK_NAME as nickName,
    U.AVATAR as avatar,
    U.USER_NAME as userName,
    U.ID_CARD as idCard,
    U.BIRTH_DAY as birthDay,
    U.SEX as sex,
    U.MOBILE as mobile,
    INFO.HEIGHT as height,
    INFO.WEIGHT as weight,
    INFO.LOCATION as location,
    INFO.SCHOOL as school,
    INFO.EDUCATION as education,
    INFO.EDUCATION_CERT as educationCert,
    INFO.ID_CERT as idCert,
    INFO.COMPANY_NAME as companyName,
    INFO.CORPORATE_CERT as corporateCert,
    INFO.PROPERTY_CERT as propertyCert,
    INFO.VEHICLE_CERT as vehicleCert
  </sql>

  <select id="get" resultType="org.igetwell.system.users.domain.UserInfo" parameterType="java.lang.String">
    SELECT
        <include refid="baseSql" />
    FROM USER_INFO INFO
    WHERE INFO.OPEN_ID = #{openId}
  </select>

  <select id="getInfo" resultType="org.igetwell.system.users.dto.UserInfoDTO" parameterType="java.lang.String">
    SELECT
        <include refid="getInfoSql" />
    FROM USER U, USER_INFO INFO
    WHERE U.OPEN_ID = INFO.OPEN_ID
    AND U.OPEN_ID = #{openId}
  </select>

  <update id="updateByOpenId" parameterType="org.igetwell.system.users.domain.UserInfo">
    update user_info
    <set>
      <if test="school != null">
        SCHOOL = #{school,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        EDUCATION = #{education,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        HEIGHT = #{height,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        WEIGHT = #{weight,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        LOCATION = #{location,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        MARITAL_STATUS = #{maritalStatus,jdbcType=INTEGER},
      </if>
      <if test="wageStatus != null">
        WAGE_STATUS = #{wageStatus,jdbcType=INTEGER},
      </if>
      <if test="idCert != null">
        ID_CERT = #{idCert,jdbcType=INTEGER},
      </if>
      <if test="educationCert != null">
        EDUCATION_CERT = #{educationCert,jdbcType=INTEGER},
      </if>
      <if test="corporateCert != null">
        CORPORATE_CERT = #{corporateCert,jdbcType=INTEGER},
      </if>
      <if test="propertyCert != null">
        PROPERTY_CERT = #{propertyCert,jdbcType=INTEGER},
      </if>
      <if test="vehicleCert != null">
        VEHICLE_CERT = #{vehicleCert,jdbcType=INTEGER},
      </if>
    </set>
    where OPEN_ID = #{openId,jdbcType=VARCHAR}
  </update>
</mapper>