<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.system.users.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="org.igetwell.system.users.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="OPEN_ID" jdbcType="VARCHAR" property="openId" />
    <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
    <result column="AVATAR" jdbcType="VARCHAR" property="avatar" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="ID_CARD" jdbcType="VARCHAR" property="idCard" />
    <result column="BIRTH_DAY" jdbcType="VARCHAR" property="birthDay" />
    <result column="SEX" jdbcType="CHAR" property="sex" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="LOGIN_TYPE" jdbcType="INTEGER" property="loginType" />
  </resultMap>

  <sql id="baseSql">
    U.ID as id,
    U.OPEN_ID as openId,
    U.NICK_NAME as nickName,
    U.AVATAR as avatar,
    U.USER_NAME as userName,
    U.ID_CARD as idCard,
    U.BIRTH_DAY as birthDay,
    U.SEX as sex,
    U.MOBILE as mobile,
    U.LOGIN_TYPE as loginType
  </sql>


  <select id="get" resultType="org.igetwell.system.users.domain.User" parameterType="java.lang.String">
    SELECT
        <include refid="baseSql" />
    FROM USER U
    WHERE U.OPEN_ID = #{openId}
  </select>
  
  <select id="checkMobile" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT COUNT(ID) FROM USER WHERE MOBILE = #{mobile}
  </select>


  <update id="updateByOpenId" parameterType="org.igetwell.system.users.domain.User">
    update user
    <set>
      <if test="nickName != null">
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        AVATAR = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        ID_CARD = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="birthDay != null">
        BIRTH_DAY = #{birthDay,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="loginType != null">
        LOGIN_TYPE = #{loginType,jdbcType=INTEGER},
      </if>
    </set>
    where OPEN_ID = #{openId,jdbcType=VARCHAR}
  </update>

</mapper>