<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.system.users.mapper_new.UserImageMapper">
  <resultMap id="BaseResultMap" type="org.igetwell.system.users.domain.UserImage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="OPEN_ID" jdbcType="VARCHAR" property="openId" />
    <result column="IMG_URL" jdbcType="LONGVARCHAR" property="imgUrl" />
  </resultMap>
</mapper>