<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.igetwell.system.users.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="org.igetwell.system.users.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="OPEN_ID" jdbcType="VARCHAR" property="openId" />
    <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
    <result column="AVATAR" jdbcType="VARCHAR" property="avatar" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="ID_CARD" jdbcType="VARCHAR" property="idCard" />
    <result column="BIRTH_DAY" jdbcType="VARCHAR" property="birthDay" />
    <result column="SEX" jdbcType="INTEGER" property="sex" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="SECRET" jdbcType="VARCHAR" property="secret" />
    <result column="LOGIN_TYPE" jdbcType="INTEGER" property="loginType" />
  </resultMap>
  
  
  <select id="checkMobile" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT COUNT(ID) FROM USER WHERE MOBILE = #{mobile}
  </select>
</mapper>